*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #1b1a1f;
}

.scoreTitle{
    font-size: 9pt;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.bigNumber{
    font-size: 32pt;
    font-weight: 100;
}

.scoreCount{
    font-size: 12pt;
    font-weight: 500;
}

img{
    height: 400px;
    width: 200px;
}

#crystalOne:hover{
    filter: grayscale(100%) sepia(100%);
}

#crystalTwo:hover{
    /* filter: grayscale(100%) sepia(10%); */
    filter: grayscale(100%) brightness(1.2) hue-rotate(100deg) sepia(100%);
}

#crystalThree:hover{
    filter: grayscale(100%) brightness(1.2) sepia(100%);
}

#crystalFour:hover{
    filter: grayscale(100%) brightness(1.2) sepia(100%);
}